@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue-main-color: #5F9EA0;
    --gray-color: #ccc;
    --white-color: #fff;
    --red-color: #e74c3c;
    --blue-color: #4267b2;
}

body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}
